.btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

.display-4 {
  margin-top: 0%;
  
}




@media screen  and (max-width: 1566px) {
  .card-img, .card-img-bottom, .card-img-top {
    width: 18rem;
}
}

@media screen  and (min-width: 1566px) {
  .card-img, .card-img-bottom, .card-img-top {
    width: 25rem;
}
}

@media screen  and (max-width: 600px) {
  .card-img, .card-img-bottom, .card-img-top {
    width: 15rem;
}
.card-text {
  font-size: 0,5rem;
}
}

@media screen  and (max-width: 600px) {
  .reviews {
    width: 20rem;
  }
}

@media screen  and (min-width: 600px) {
  .reviews {
    width: 25rem;
  }
}


.ratio {
  margin-top: 50px;
} 






.img-fluid {
  margin-bottom: 50px;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}


.bg-white {
  padding-bottom: 100px;
  padding-top: 100px;
}

.paragraph {
  margin-top: 20px;
}


.card {
  margin-block-end: 25px;
  border: none;
}

.btn-primary {
  background-color: #1d1d1d;
 
  border-color: #1d1d1d;
}

